/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/
@media (max-width: 991px){
.navbar-nav > li {
    margin: 0 1.3em;
}
}

#actions{
    width: 18% !important;
}

.logo_fff{
    width:10%;
}
.feedback-img-info p.domicile{
    color:blue;
}
.feedback-img-info h5{
    color: black;
}
.feedback-img-info p{
    color:red;
}
.agileits-feedback-grids{
     background: rgba(17, 18, 16, 0.13);
     border-radius: 10px;
}
.index_admin{
        color: #99bc59;
        font-size: 4em;
}
.fleche_bas{
    font-size:4em;
    color:white;
}
.clr2{
    min-height: 308px;
}
.clr3{
    max-height: 308px;
}
.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

>>>>>>> 8985aeeca6e4232567aa9fb0b5d4bb4ec7695569
.nom_club{
    color: white;
}
.btn-info{

    margin-top: -23px;
    border-color: white;
    background-color: #11162759;
}

    margin-top: -14px;
    border-color: white;
    background-color: #11162759;
}
.btn-info:hover{
    background: black !important;
    border: 1px solid white;
}
.bouton_club a:hover{
    color:white;
}

.banner-text.agileinfo{
    padding: 15em 0;
}
.hauteur_min{
    min-height: 500px;
}
.utilisateur{
    color:white;
}
.connecte{
    color:white;
}
.navbar-inverse{
    margin-bottom: 0;
}
.header{
    padding: 5em 0 5em;
}
.header-nav ul.nav.navbar-nav{
    margin-top: 2em;
}
.titre{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.form-control.perso{
    border: 1px solid;
}
#contact_message{
    height:241px;
}
.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.footer{
    margin-top:50px;
}




/*-----Partie rencontres calendrier par équipe route provisoire "@/rencontres"" --------------*/

@media (min-width: 996px){
.creer_saison{
    margin-left: 18em;
}
}

/*-----Partie rencontres calendrierpar équipe route provisoire "@/rencontres"" --------------*/


/* Léger décalage bouton d'affichage victoires nuls défaites */
.resultat_rencontres_btn {
    margin-left: 15px;
}


/* div cachant les boutons */
.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}

/* Pour cacher et faire apparaître les boutons */
.cacher {
    display: none;
}


/* ------------Surcharge footer--------------------*/

.hauteur_min {
    min-height: 300px;
}

.footer{
    background: url("../images/herbe-verte-artificielle.jpg");
}


.blocOpaque { /* Astuce de création d'un bloc à 60% opaque à l'image de fond */
  height:100%;
  background-color:rgba(0,0,255,0.10);
}

.w3layouts_footer_grid h2 span, .w3layouts_footer_grid h3 span{
        color: #1dd1a1;
        font-weight: bold;
}

.w3layouts_footer_grid p {
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
}
ul.con_inner_text li,ul.con_inner_text li label, ul.con_inner_text li a{
    color: #fff;
}

#inputmail::placeholder {
  color:#c8d6e5;
}
 
/* Fin surcharge footer */

@media (max-width: 480px){
.agileits-logo h1 {
    font-size: 2.3em;
    margin-bottom: 15px;
}
.agileits-logo h1 a {
    padding:.5em;
}
.bouton_club{
    margin-left: 35px;
}
h3{
    font-size: 1.3em;
}
}



/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/
.clr2{
    min-height: 308px;
}
.clr3{
    max-height: 308px;
}
.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

.nom_club{
    color: white;
}
.btn-info{
    margin-top: -23px;
    border-color: white;
    background-color: #11162759;
}
.banner-text.agileinfo{
    padding: 15em 0;
}
.hauteur_min{
    min-height: 500px;
}
.utilisateur{
    color:white;
}
.connecte{
    color:white;
}
.navbar-inverse{
    margin-bottom: 0;
}
.header{
    padding: 5em 0 5em;
}
.header-nav ul.nav.navbar-nav{
    margin-top: 2em;
}
.titre{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.form-control.perso{
    border: 1px solid;
}
#contact_message{
    height:241px;
}
.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.footer{
    margin-top:50px;
}



/* Léger décalage bouton d'affichage victoires nuls défaites */
.resultat_rencontres_btn {
    margin-left: 15px;
}

.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}

margin-top: 6px;


