{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    

{% block content %} 
<div class="container"> 
    <div class="row">  
        <h1 class="titre">Mon Club pour la saison 2017-2018</h1>
        <hr>
        <div class="col-md-3"> 
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>Equipe 1</h3>
                </div>
                <img src="../images/g1.jpg" alt="...">
                    <p>Nom de l'entraineur: Olivier Charpentier</p>
                    <p>Nombre de joueurs: 16</p>
                    <div class="text-center"><a href="#" class="btn btn-primary" role="button">Accéder</a></div> {#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
            </div>
        </div>
        <div class="col-md-3"> 
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>Equipe 2</h3>
                </div>
                <img src="../images/g2.jpg" alt="...">
                    <p>Nom de l'entraineur: Olivier Charpentier</p>
                    <p>Nombre de joueurs: 16</p>
                    <div class="text-center"><a href="#" class="btn btn-primary" role="button">Accéder</a></div> {#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
            </div>
        </div>
        <div class="col-md-3"> 
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>Equipe 3</h3>
                </div>
                <img src="../images/g3.jpg" alt="...">
                    <p>Nom de l'entraineur: Olivier Charpentier</p>
                    <p>Nombre de joueurs: 16</p>
                    <div class="text-center"><a href="#" class="btn btn-primary" role="button">Accéder</a></div> {#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
            </div>
        </div>
        <div class="col-md-3"> 
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>Equipe 4</h3>
                </div>
                <img src="../images/g4.jpg" alt="...">
                    <p>Nom de l'entraineur: Olivier Charpentier</p>
                    <p>Nombre de joueurs: 16</p>
                    <div class="text-center"><a href="#" class="btn btn-primary" role="button">Accéder</a></div> {#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
            </div>
        </div>
    </div> 
    <hr>
    <div class="row">
        <div class="col-md-3"> 
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>Equipe 5</h3>
                </div>
                <img src="../images/g5.jpg" alt="...">
                    <p>Nom de l'entraineur: Olivier Charpentier</p>
                    <p>Nombre de joueurs: 16</p>
                    <div class="text-center"><a href="#" class="btn btn-primary" role="button">Accéder</a></div> {#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
            </div>
        </div>v>
        <div class="col-md-3"> 
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>Equipe 6</h3>
                </div>
                <img src="../images/g6.jpg" alt="...">
                    <p>Nom de l'entraineur: Olivier Charpentier</p>
                    <p>Nombre de joueurs: 16</p>
                    <div class="text-center"><a href="#" class="btn btn-primary" role="button">Accéder</a></div> {#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
            </div>
        </div>
        <div class="col-md-3"> 
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>Equipe 7</h3>
                </div>
                <img src="../images/g7.jpg" alt="...">
                    <p>Nom de l'entraineur: Olivier Charpentier</p>
                    <p>Nombre de joueurs: 16</p>
                    <div class="text-center"><a href="#" class="btn btn-primary" role="button">Accéder</a></div> {#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
            </div>
        </div>
       <div class="col-md-3"> 
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>Equipe 8</h3>
                </div>
                <img src="../images/g8.jpg" alt="...">
                    <p>Nom de l'entraineur: Olivier Charpentier</p>
                    <p>Nombre de joueurs: 16</p>
                    <div class="text-center"><a href="#" class="btn btn-primary" role="button">Accéder</a></div> {#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
            </div>
        </div>
    </div>
</div>              
{% endblock %}
